<section class="container home">
  <div class="title">
    <h1>Simplicity at your fingertips</h1>
    <p>A fast, free, and reliable URL shortening service</p>
  </div>

  <div class="shorten">
    <input type="text" id="shorten-field" name="shorten-field" placeholder="Enter URL here">
    <input type="submit" value="Shorten">
  </div>
</section>
